@import '@app/styles/modules/colors';
@import '@app/styles/modules/_mixins.scss';

.customCarouselItem {
  background: var(--clrDarkTertiary);
  background: linear-gradient(
    90deg,
    var(--clrDarkTertiary) 0%,
    rgba(255, 255, 255, 1) 50%,
    var(--clrDarkSecondary) 100%
  );
  text-align: center;

  .carouselImage {
    background-repeat: no-repeat;
    background-position: center;
  }
}
