// Dark
$clr-dark-tertiary: #809498;
$clr-dark-secondary: #525070;
$clr-dark-primary: #270d39;

// Primary
$clr-primary: #2798a9;
$clr-primary-dark: #176f79;
$clr-primary-light: #cfe2e4;
$clr-primary-lighter: #eff6f6;

// Green
$clr-green-light: #d2e4b0;
$clr-green: #75a41f;
$clr-green-dark: #527316;

// Orange
$clr-orange-light: #f9ecd1;
$clr-orange: #e39e17;
$clr-orange-dark: #9f6f10;

// Red
$clr-red-light: #f8d9de;
$clr-red: #cd0025;
$clr-red-dark: #740015;

// Other
$clr-divider: #d1dfe1;
$clr-bg: #eff4f4;
$clr-input-focus-shadow: rgba(145, 39, 143, 0.16);
$clr-item-box-shadow: rgba(12, 47, 55, 0.12);

$clr-disabled-bg: #eff4f4;
$clr-disabled-text: #809498;
